.checkticker_container{
  padding: 2%;
  margin: 30px;
  border-radius: 10px;
  height: 100%;
  min-height: 100vh;
  background-color: #eeecec;
}

.tittle_checkticket{
  color: rgb(232, 92, 45);
  margin-bottom: 20px;
}

.form_group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phoneNumberInput{
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(232, 92, 45);
}

#phoneNumberInput{
  width: 15%;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.btn_checkticket{
  background-color: rgb(232, 92, 45);
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.ticket_results{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}

.ticket_card{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
}

.pagination_controls{
  display: flex;
  justify-content: end;
}

.pagination_button{
  align-self: flex-end;
  background-color: #eee;
  padding: 5px 10px;
  margin: 10px 5px 0 0;
}