/* frontend/src/components/Navbar/Navbar.css */

.navbar {
  background-color: #ffffff;
  /* Màu nền của Navbar */
  height: 85px;
  border-bottom: 1px solid rgb(232, 92, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  /* Giúp Navbar cố định ở trên cùng */
  top: 0;
  z-index: 999;
  /* Đảm bảo Navbar nằm trên các nội dung khác */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.navbar-logo {
  color: rgb(232, 92, 45);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  /* Chiếm 60% chiều rộng viewport */
  justify-content: end;
  /* Căn các mục về phía bên phải */
  margin-right: 2rem;
}

.nav-item {
  padding-top: 1rem;
  height: 60px;
}

.nav-links {
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.2s ease-out;
  font-weight: 500;
}

.btn_register{
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
  background-color: rgb(232, 92, 45);
  border-radius: 50px;
}

.btn_register:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.txt_register{
  padding: 0;
  margin: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.txt_register:hover{
  color: #ffffff;
  transform: scale(1.1);
}

.nav-links:hover {
  color: rgb(232, 92, 45);
  cursor: pointer;
  transform: scale(1.05);
}